@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

:root{
    /* COLOR */
    --background: hsl(0, 19%, 93%);
    --navbar-background: hsl(0, 13%, 95%); 
    --shadow: hsla(237, 14%, 73%, 0.452); 
    --Logo-color: hsl(226, 46%, 51%);
    --color: #161515;
    --color-hover-links: hsl(39, 64%, 48%); 
    --background-responsive: hsla(0, 0%, 100%, 0.1); 
}

*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body{
    font-family: 'Poppins';
    background-image: url("../image/background-image.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}

/* NAVBAR */
.navbar{
    position: sticky;
    width: 100%;
    height: auto; 
    top: 0;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 3px 10px 0 var(--shadow);
    background-color: var(--navbar-background);
}
.logo{
    font-size: 1.8em;
    font-weight: 600;
    color: var(--Logo-color);
}
.nav-links{
    height: 100%;
}
.nav-links ul{
    display: flex;
}
.nav-links ul li{
    padding: 0 15px;
    font-weight: 600;
}
.nav-links ul li a{
    color: var(--color);
}
.nav-links ul li a:hover{
    color: var(--color-hover-links);
    cursor: pointer;
}
.menu-hamburger{
    position: absolute;
    width: 27px;
    height: 25px;
    top: 1.7em;
    right: 2em;
    display: none;
    flex-direction: column;
    justify-content: space-between;
}
.bar-menu{
    width: 100%;
    height: 4.5px;
    border-radius: 15px;
    background-color: var(--color);
}
@media screen and (max-width: 700px){
    .menu-hamburger{
        display: flex;
    }
    .nav-links{
        position: absolute;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        display: none;
        justify-content: center;
        align-content: center;
        background-color: var(--background-responsive);
        backdrop-filter: blur(50px);
    }
    .nav-links.active{
        display: flex;
    }
    .nav-links ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .nav-links ul li{
        margin: 25px 0;
        font-size: 1.2em;
    }
    .logo{
        z-index: 2;
    }
}